* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
    color: inherit;
}
.nav {
    display: flex;
    gap: 40px;
    align-items: center;
   

}
.nav-link {
    color: darkblue;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    transition: 1s;
    text-decoration: none;
}
.nav-link:hover {
    transform: scale3d(1.5,1.5,1.5);

}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header {
    padding: 45px 0;
}
.nav-link::before {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: crimson;
    transition: 0.6s;

}
.nav-link:hover:before {
    width: 100%;
}

.nav-link::after {
    position: absolute;
    content: "";
    bottom: -15px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: crimson;
    transition: 0.6s;
    transform: translate(-50%,0);
}
.nav-link:hover::before {
    width: 100%;
}
.btn-wrapper button {
    color: black;
    font-size: 16px;
    font-weight: 500;
    border: none;

}
.btn-wrapper button :nth-child(2) {
    color: red;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.box {
    padding: 10px 15px;
    width: 100%;
    height: 100%;
}

.col-6 {
    width: 50%;
    padding: 15px;
}
.hero {
    padding: 44px 0;

}
.title {
    color: black;
    font-family: 'Rubik';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
}
.desk {
    color: black;
    font-family: 'Rubik';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.main-btn {
    border-radius: 10px;
    background-color: red;
    width: 250px;
    padding: 17px 0;
    font-size: 16px;
    font-weight: 700;
    color: aliceblue;
    border-radius: 10px;
    border: none;
    margin: 15px;
}
.col-4 {
    width: 33.33%;
    padding: 15px;

}
.title-2 {
    color: #0B132A;
    font-family: Rubik;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;   
}
.desk-2 {
    color: #4F5665;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}

.box-user {
    display: flex;
    color: #4F5665;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    box-shadow: 0px 26px 16px -5px rgba(57, 55, 55, 0.37);
}
.img {
    width: 0px;
    height: 125.573px;
    flex-shrink: 0;
}
.img-2 {
    display: flex;
    gap: 15px;
    margin: 15px;
}
.title-3 {
    color: black;
    font-family: 'Rubik';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
}
.desk-3 {
    color: black;
    font-family: 'Rubik';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.subtitle {
    width: 100%;
    height: 550px;
}
.title-4 {
    padding: 85px 80px 20px 85px;
    color: #0B132A;
    text-align: center;
    font-family: 'Rubik';
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; 
}
.desk-4 {
    padding: 20px;
    text-align: center;
    color: #4F5665;
   font-family: 'Rubik';
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px; 
}
.card {
    
    width: 330px;
    height: 760px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #DDD;
    background: #FFF;
   
}
.card:hover {
    border-color: #F53838;
}
.svg {
    padding: 30px;
    text-align: center;
}
.desk-5 {
    display: flex;
    gap: 15px;
    margin: 10px;
    
}
.title-5 {
    text-align: center;
    margin: 15px;
    width: 123px;
    height: 30px;
}
.free {
    align-items: center;
}

.free h1 {
    width: 54px;
    height: 30px;
    text-align: center;
    color: #0B132A;
    font-family: Rubik;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; 
}
.main-bt2 {
    margin: 55px;
    width: 177.876px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #F53838;
    border-radius: 10px;
    background: #FFF;
    color: red;
}
.main-bt2:hover {
    color: #DDD;
    background: #F53838;
}